[Desktop Entry]
Name=Bolt
Comment=Fast, segmented download manager
Exec=bolt
Icon=bolt
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupWMClass=bolt
